header{
    width: 100%;
    padding: 10px 8%;
    position: sticky;
    top: 0;
    background-color: #1b1b1a;
    z-index: 3;
}

@media screen and (min-width: 1171px) {
    header{
    width: 100%;
    padding: 40px 8%;
    position: sticky;
    top: 0;
    background-color: #1b1b1a;
    z-index: 3;
    }

    #nav_logo {
    width: 15%;
    margin-top: -10px;
    }
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    width: 15%;
    margin-top: 0px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    margin-top: 0px;
}

.nav-item a {
    text-decoration: none;
    color: #cfb387;
    font-weight: 500;

}

.nav-item.active a {
    color: #cfb387;
    border-bottom: 3px solid #333333;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list, #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: antiquewhite;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}