#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 16px;
    box-sizing: border-box;
}

.menu_items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media screen and (min-width: 1171px) {
    .menu_items {
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;
    }
}


.h_img, .a_img, .b_img {
    max-width: 90%;     
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.h_img, .a_img {
    width: 100px; 
}

.b_img {
    width: 150px; 
}

.example {
    width: 100px; 
    max-width: 90%;     
    height: auto;
    object-fit: contain;
}

.item-description {
    font-size: 10px;
    color: #cfb387;
    text-align: center;
    margin-top: 8px;
}

.item-description_2 {
    font-size: 12px;
    color: #cfb387;
    text-align: center;
    margin-top: 8px;
}

.item-title {
    line-height: 1.3em;
    overflow: hidden;
    text-align: center;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    gap: 5px;
    width: 100%;
    padding: 12px;
    background-color: #282929;
    box-shadow: 0 0px 12px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    font-size: 0.95rem;
}

.acompanhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    gap: 5px;
    width: 100%;
    padding: 12px;
    background-color: #282929;
    box-shadow: 0 0px 12px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    font-size: 0.80rem;
}

.bebida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    gap: 5px;
    width: 100%;
    padding: 12px;
    background-color: #282929;
    box-shadow: 0 0px 12px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    font-size: 0.95rem;
}