@import url('https://fonts.cdnfonts.com/css/greek-freak');
@import url('https://fonts.cdnfonts.com/css/martian-mono');
@import url('https://fonts.cdnfonts.com/css/dalek-pinpoint');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: Greek Rubone;
    src: url('../fonts/Greek-Rubone.otf');
}

@font-face {
    font-family: Spartacus;
    src: url('../fonts/Spartacus.ttf');
}

*{
    font-family: 'Greek-Freak', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #cfb387;
    font-weight: 200;
}

.description{
    font-family: 'Martian Mono', sans-serif;
}

.item-description {
  font-family: "Martian Mono", sans-serif;
  
}

.item-description_2 {
  font-family: "Martian Mono", sans-serif;
  
}

.beverages_title {
    font-family: 'Greek Rubone', sans-serif;
}

.btn-default {
    font-family: 'Spartacus', sans-serif;
    font-size: 1.3rem;
}
body{
    background-color: #1b1b1a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav_logo {
    width: 15%;
    max-width: 160px;
}

@media screen and (min-width: 1171px) {
    #nav_list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        list-style: none;
        gap: 48px;
        margin: 0;
        margin-top: 70px;
    }

    #nav_logo {
        width: auto;
        max-width: 60px; 
        height: 60px;     
        object-fit: contain;
        position: absolute;
        left: 0%;
        top: 20px;       
    }
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a48147;
    border-radius: 3px;
    color: #29282d;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 8px;
}

.btn-contact {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cta_buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    margin-left: 7px;
}

#cta_buttons a {
    text-decoration: none;
    color: inherit;       
    display: inline-block; 
}

.btn-contact i {
    font-size: 1.4rem;
}

.btn-default:hover {
    background-color: #171818;
    color: antiquewhite;
}

.btn-contact:hover i {
    color: antiquewhite;

}

#content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#about {
    background-color: #171717;
    width: 100%;
    padding: 30px 21px 1px;
    margin-top: auto;
}


#about .title {
    font-size: x-large;
}
#about .description {
    font-size: smaller;
    margin-top: 5px;
}
#about .cta-inner {
    color: #cfb387;
    font-size: small;
    margin-top: -8px;
}

#about #banner {
    min-height: 20px;
    width: 100%;
}
